body {
    padding: 20px;
    background-color: rgb(234, 255, 232);
}

textarea {
    width: 500px;
    height: 320px;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid #dadada;
    outline-color: royalblue;
    background-color: #fbb7b7;
    color: rgb(9, 10, 99);
    resize: none;
    padding: 10px;
}